<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
      
      <form action = "/api" method = "POST">
         <h3>Person Information</h3>
         Name<br>
         <input type = "text" name = "name" />
      </br>
         <h3>Person email</h3>
         <br>
         <input type = "email" name = "email" /></br>
         <h3>Person password</h3>
         <br>
         <input type = "password" name = "password" /></br>
         <input type = "submit" value = "submit" /><br>
      </form>

      <a href="https://github.com/Moses-Morris/Rest-API.git">Github</a>
      
   </body>
</html>